<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ctxt"
      android:versionCode="0"
      android:versionName="0.0">
    <uses-sdk android:minSdkVersion="14" />
    <!--<uses-feature android:name="android.hardware.telephony" /> -->
    <uses-feature android:name="android.hardware.nfc" />
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <application android:label="@string/app_name" >
        <!--<service android:name="com.ctxt.CtxtService" android:enabled="true">
            <action android:name="com.ctxt.CtxtService" />
        </service> -->

        <receiver android:name="com.ctxt.CtxtService.SMSreceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"
                />
                <data android:scheme="sms"/>
                <data android:port="8901"/>
            </intent-filter>
        </receiver>

        <activity android:name="com.ctxt.MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.share.KeyShare"
                  android:label="@string/share_name">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="object/com.key.NumberKeyPair" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.ctxt.MainActivity" />
        </activity>
    </application>
</manifest>
